# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


GITHUB_CLIENT_ID = Ov23liuojt5VaR
GITHUB_CLIENT_SECRET = b02d1db470df34cf5051280964fca2a04

BASE_URL = http://localhost:3000

JWT_SECRET = yv7fr8v
JWT_EXPIRES_IN = 1d
JWT_COOKIE_EXPIRY = 24*60*60*1000

NODE_ENV = development

Mongo_PASS = ChSlZ
Mongo_USER = docs
MongoURI = mongodb+srv://docs:Ch1E2eZ@prisma.f6jor.mongodb.net/docs

CLIENT_BASE_URL = http://localhost:5173